<%= form_with model: @flashcard, local: true do |f| %>

  <% if @flashcard.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@flashcard.errors.count, "error") %> prohibited this flashcard from being saved:
      </h2>
      <ul>
        <% @flashcard.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :cardfront, 'Front of card' %>
    <%= f.text_area :cardfront, rows: 3, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :cardback, 'Back of card' %>
    <%= f.text_area :cardback, rows: 5, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :cardcode, 'Code' %>
    <%= f.text_area :cardcode, rows: 8, class: 'form-control' %>
  </p>

  <p>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <%= f.submit 'Submit', class: "btn btn-info" %>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
      <%= link_to 'Cancel', :back, class: 'btn btn-outline-danger' %>
    </div>
  </div>
  </p>


<% end %>
