<p>
  <h3 class="text-info">Flashcard Details</h3>
</p>
<p>
  <div class="card card-body">
    <div class="card-header text-secondary">
      Front of Card
    </div>
    <div class="card-body card-text">
      <%= simple_format(@flashcard.cardfront) %>
    </div>
  </div>
</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group-sm mr-5" role="group" aria-label="First group">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseCardBack" aria-expanded="false" aria-controls="collapseCardBack">
    Show/Hide Back of Card
    </button>
  </div>
  <div class="btn-group-sm mr-3 ml-3" role="group" aria-label="Second group">
    <%= link_to 'Edit', edit_flashcard_path(@flashcard), class: 'btn btn-sm btn-outline-secondary' %>
  </div>
  <div class="btn-group-sm ml-3" role="group" aria-label="Third group">
    <%= link_to 'Delete', "/flashcards/#{@flashcard.id}/delete", class: 'btn btn-sm btn-outline-danger' %>
  </div>
</div>

<div class="collapse" id="collapseCardBack">
  <p>
    <div class="card card-body">
      <div class="card-header text-secondary">
        Back of Card
      </div>
      <div class="card-body card-text">
        <%= simple_format(@flashcard.cardback) %>
      </div>
    </div>
  </p>
  <p>
    <div class="card card-body">
      <div class="card-header text-secondary">
        Code
      </div>
      <div class="card-body card-text card-code">
        <%= simple_format(@flashcard.cardcode) %>
      </div>
    </div>
  </p>
</div>
